:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  padding: 20px ;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  width: 100vw;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #0ee1e8;
  cursor: pointer;
  transition: border-color 0.25s;
<<<<<<< HEAD
  margin-right: 3px;
=======
  margin-right: 15px;
>>>>>>> 44d668fcc5911c2ef5bde5d513625366ac22a73d
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.main-cont{
  width: 100%;
}

.bot-collection {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  flex-wrap: nowrap;
  max-width: 100%;
  height: auto;
  overflow-x: scroll;
  padding: 20px 0px;
}

.bot-li {
  max-width: 20%;
  height: auto;
  border: solid rgb(0, 0, 0) 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

ul:first-of-type{
  background-color: rgba(112, 244, 112, 0.7)!important;
  padding: 10px;
}

h1 {
  text-align: center;
}